<a class="logo" href="/">
  <img src="/logo.png" alt="logo" />
</a>

<style>
  .logo {
    z-index: 4;
  }

  @media (min-width: 768px) {
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .logo {
      display: none;
    }
  }

  .logo img {
    width: 7rem;
  }
</style>
