---
import { Image } from 'astro:assets'
import logo from '../../../assets/logo.png'
---

<a class="logo" href="/">
  <Image src={logo} alt="Born Yesterday Bakery Logo" width={logo.width} height={logo.height} />
</a>

<style>
  .logo {
    z-index: 4;
  }

  @media (min-width: 768px) {
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .logo {
      display: none;
    }
  }

  .logo img {
    width: 7rem;
    height: auto;
  }
</style>
