---
import { Image } from 'astro:assets'
import logo from '../../../assets/logo.png'

const currentPath = Astro.url.pathname
---

<ul class="desktop-nav" data-current-url={currentPath}>
  <li><a href="/" aria-label="home">Home</a></li>
  <li><a href="/menu" aria-label="menu">Menu</a></li>
  <li class="logo" aria-label="home">
    <a href="/">
      <Image src={logo} alt="Born Yesterday Bakery Logo" width={logo.width} height={logo.height} />
    </a>
  </li>
  <li><a href="/order" aria-label="order">Order</a></li>
  <li><a href="/contact" aria-label="contact">Contact</a></li>
</ul>

<style>
  .desktop-nav[data-current-url='/'] li:nth-child(1),
  .desktop-nav[data-current-url^='/menu'] li:nth-child(2),
  .desktop-nav[data-current-url^='/order'] li:nth-child(4),
  .desktop-nav[data-current-url^='/contact'] li:nth-child(5) {
    color: var(--color-primary);
  }

  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  .desktop-nav li {
    transition: all var(--transition-normal);
  }

  .desktop-nav li:hover {
    color: var(--color-primary);
  }

  .logo {
    display: none;
  }

  @media (min-width: 1024px) {
    .logo {
      display: block;
      padding: 0 1rem;
    }
  }

  .logo img {
    width: 14rem;
    height: auto;
  }
</style>
