<ul class="desktop-nav">
  <li><a href="/about">About</a></li>
  <li><a href="/menu">Menu</a></li>
  <li class="logo">
    <a href="/">
      <img src="/logo.png" alt="logo" />
    </a>
  </li>
  <li><a href="/order">Order</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>

<style>
  .desktop-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .desktop-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  .desktop-nav li {
    font-size: var(--size-sm);
  }

  .logo {
    display: none;
  }

  @media (min-width: 1024px) {
    .logo {
      display: block;
      padding: 0 1rem;
    }
  }

  .logo img {
    width: 14rem;
  }
</style>
