---
import MobileLogo from '../logo/MobileLogo.astro'
import Desktop from './Desktop.astro'
import Mobile from './Mobile.astro'
---

<nav>
  <MobileLogo />
  <Mobile />
  <Desktop />
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--color-secondary);
  }

  @media (min-width: 768px) {
    nav {
      display: block;
      padding: 1.5rem;
    }
  }

  @media (min-width: 1024px) {
    nav {
      padding: 2rem;
    }
  }
</style>
