---
import Logo from '../Logo.astro'
import Desktop from './Desktop.astro'
import Mobile from './Mobile.astro'
---

<nav class="p-4 md:p-6 lg:p-8 bg-sky-50 flex md:block justify-between items-center gap-8">
  <Logo />
  <Mobile />
  <Desktop />
</nav>
