---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<h1>{title}</h1>

<style>
  h1 {
    z-index: 1;
    font-size: var(--size-xl);
    font-weight: 600;
    text-align: center;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: var(--size-xxl);
    }
  }
</style>
