@font-face {
  font-family: 'Bobby Jones Soft';
  src: url('/fonts/BobbyJonesSoft-Regular.woff2') format('woff2'),
    url('/fonts/BobbyJonesSoft-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Bobby Rough Soft Outline';
  src: url('/fonts/BobbyRoughSoft-Outline.woff2') format('woff2'),
    url('/fonts/BobbyRoughSoft-Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

:root {
  --font-bobby-soft: 'Bobby Jones Soft', sans-serif;
  --font-bobby-rough-soft-outline: 'Bobby Rough Soft Outline', sans-serif;
  --font-baloo-bhaijaan: 'Baloo Bhaijaan 2', cursive;

  --color-primary: #ff5758;
  --color-secondary: #f0f9ff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #858585;

  --size-xxs: 0.75rem; /* line-height: 1rem */
  --size-xs: 1rem; /* line-height: 1.5rem */
  --size-sm: 1.25rem; /* line-height: 1.75rem */
  --size-base: 1.563rem; /* line-height: 2rem */
  --size-lg: 2.441rem; /* line-height: 2.5rem */
  --size-xl: 3.052rem;
  --size-xxl: 3.815rem;

  --transition-normal: 0.3s ease-in-out;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-baloo-bhaijaan);
  letter-spacing: 0.75px;

  /* Experimental, but fallback is default styling */
  text-wrap: balance;
}

body[data-overlay-displayed='true'] {
  overflow: hidden;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10rem 1rem;
}

h1 {
  margin: 0;
  font-family: var(--font-bobby-soft);
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-bobby-rough-soft-outline);
}

p {
  margin: 0 0 1rem 0;
  font-size: var(--size-sm);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input,
textarea,
button {
  font-family: var(--font-baloo-bhaijaan);
}

section:not(:last-child) {
  margin-bottom: 6rem;
}

.site-cta {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  text-align: center;
  border: 0;
  border-radius: 10rem;
  cursor: pointer;
  transition: all var(--transition-normal);
}

.site-cta:hover {
  opacity: 0.8;
}
