---
import Icon from 'astro-icon'
---

<a class="logo" href="/" title="home" aria-label="home" data-astro-prefetch>
  <Icon name="logo" />
</a>

<style>
  .logo {
    display: block;
    width: 100%;
  }

  .logo svg {
    width: 15.25rem;
    height: auto;
  }
</style>
