---
import { Image } from 'astro:assets'
import logo from '../../assets/logo.svg'
---

<a class="logo" href="/" aria-label="home">
  <Image src={logo} alt="Born Yesterday Bakery Logo" loading="eager" />
</a>

<style>
  .logo img {
    width: 15.25rem;
    height: auto;
  }
</style>
