---
import { Image } from 'astro:assets'
import logo from '../../assets/logo.svg'
---

<a class="logo" href="/" aria-label="home">
  <Image src={logo} alt="Born Yesterday Bakery Logo" loading="eager" />
</a>

<style>
  .logo {
    z-index: 4;
  }

  @media (min-width: 768px) {
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 1.25rem;
    }
  }

  @media (min-width: 1024px) {
    .logo {
      display: none;
    }
  }

  .logo img {
    width: 7.75rem;
    height: auto;
  }
</style>
