---
import { getImage } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import HeroBanner from '../components/layout/HeroBanner.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import heroImage from '../assets/hero.jpg'

const image = await getImage({ src: heroImage })
---

<Layout
  title="Born Yesterday Bakery | About"
  description="Born Yesterday Bakery is a bakery located in Maine, specializing in sourdough bread"
>
  <HeroBanner title="About" url={image.src} description="Page description goes here" />
  <main>
    <SectionHeader title="Page Content Goes Here" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptates enim veritatis
      suscipit? Blanditiis corrupti, non harum error saepe ipsum tempore modi dolores! Ab provident
      quo ratione, a nulla facere?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vel mollitia cum ducimus
      possimus facilis perferendis, excepturi aliquam veniam suscipit commodi itaque nihil neque.
      Maxime magnam veritatis mollitia provident voluptas!
    </p>
  </main>
</Layout>
