---
import Layout from '../layouts/Layout.astro'
import HeroBanner from '../components/layout/HeroBanner.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import kouignAmannImage from '../assets/kouign-amann.jpeg'
---

<Layout
  title="Born Yesterday Bakery | Contact"
  description="Born Yesterday Bakery is a bakery located in Maine, specializing in sourdough bread"
>
  <HeroBanner title="Contact Us" image={kouignAmannImage} />
  <main>
    <section id="contact" class="contact">
      <form method="POST" class="form" name="contactForm" action="/success" data-netlify="true">
        <SectionHeader title="Let's Chat" class="section-header" />
        <div class="form-field">
          <input id="name" type="text" name="name" placeholder=" " required />
          <label for="name">Name: <span>*</span></label>
        </div>
        <div class="form-field">
          <input id="email" type="email" name="email" placeholder=" " required />
          <label for="email">Email: <span>*</span></label>
        </div>
        <div class="form-field">
          <textarea id="message" name="message" cols="30" rows="5" placeholder=" " required
          ></textarea>
          <label for="message">Message: <span>*</span></label>
        </div>
        <button class="site-cta" type="submit">Send Message</button>
      </form>

      <aside class="contact-info">
        <div>
          <h3>Get in Touch</h3>
          <p><a href="mailto:bornyesterdaybakery@gmail.com">bornyesterdaybakery@gmail.com</a></p>
          <p>
            <a href="https://www.instagram.com/bornyesterdaybakery/" target="_blank"
              >Instagram
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.22438 17.9287C6.36591 18.0667 6.55676 18.1423 6.75438 18.1387C6.95141 18.1391 7.14109 18.064 7.28438 17.9287L16.6144 8.58994V16.6487C16.6144 17.0629 16.9502 17.3987 17.3644 17.3987C17.5658 17.4042 17.7608 17.3273 17.9042 17.1857C18.0477 17.0442 18.1272 16.8502 18.1244 16.6487V6.9165C18.1504 6.80241 18.1498 6.68188 18.1198 6.56444C18.0519 6.29871 17.8444 6.09121 17.5787 6.02334C17.4612 5.99335 17.3407 5.99275 17.2266 6.01873H7.49438C7.08017 6.01873 6.74438 6.35451 6.74438 6.76873C6.74438 7.18294 7.08017 7.51873 7.49438 7.51873H15.5644L6.22438 16.8587C6.08085 16.9997 6 17.1925 6 17.3937C6 17.5949 6.08085 17.7877 6.22438 17.9287Z"
                ></path>
              </svg>
            </a>
          </p>
        </div>
        <div>
          <h3>Visit Us</h3>
          <p>221 Barker Road Bethel, ME</p>
          <p>
            <a href="https://maps.app.goo.gl/Zi8c93ZntshAJUiNA" target="_blank"
              >View on Map
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.22438 17.9287C6.36591 18.0667 6.55676 18.1423 6.75438 18.1387C6.95141 18.1391 7.14109 18.064 7.28438 17.9287L16.6144 8.58994V16.6487C16.6144 17.0629 16.9502 17.3987 17.3644 17.3987C17.5658 17.4042 17.7608 17.3273 17.9042 17.1857C18.0477 17.0442 18.1272 16.8502 18.1244 16.6487V6.9165C18.1504 6.80241 18.1498 6.68188 18.1198 6.56444C18.0519 6.29871 17.8444 6.09121 17.5787 6.02334C17.4612 5.99335 17.3407 5.99275 17.2266 6.01873H7.49438C7.08017 6.01873 6.74438 6.35451 6.74438 6.76873C6.74438 7.18294 7.08017 7.51873 7.49438 7.51873H15.5644L6.22438 16.8587C6.08085 16.9997 6 17.1925 6 17.3937C6 17.5949 6.08085 17.7877 6.22438 17.9287Z"
                ></path>
              </svg>
            </a>
          </p>
        </div>
      </aside>
    </section>
  </main>
</Layout>

<style>
  @media (min-width: 768px) {
    .contact {
      display: grid;
      grid-template-columns: 1fr 350px;
      grid-gap: 6vw;
    }
  }

  .section-header {
    margin-bottom: 4rem;
  }

  @media (min-width: 768px) {
    .section-header {
      text-align: left;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .form-field label {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    color: var(--color-grey);
    transition: all var(--transition-normal);
  }

  .form-field label,
  .form-field input,
  .form-field textarea {
    font-size: var(--size-sm);
  }

  .form-field input,
  .form-field textarea {
    padding: 0.5rem;
    border-bottom: 2px solid var(--color-black);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: none;
    transition: border-bottom var(--transition-normal);
  }

  .form-field textarea {
    resize: vertical;
  }

  .form-field input:focus,
  .form-field textarea:focus {
    border-bottom: 2px solid var(--color-primary);
  }

  .form-field input:not(:placeholder-shown):valid,
  .form-field textarea:not(:placeholder-shown):valid {
    border-color: var(--color-black);
  }

  .form-field input:not(:placeholder-shown):not(:valid),
  .form-field textarea:not(:placeholder-shown):not(:valid) {
    border-color: var(--color-primary);
  }

  .form-field textarea + label {
    top: 1.5rem;
  }

  .form-field input:focus + label,
  .form-field textarea:focus + label {
    top: -1rem;
    left: 0;
    font-size: var(--size-xs);
    color: var(--color-primary);
  }

  .form-field input:valid + label,
  .form-field textarea:valid + label {
    top: -1rem;
    left: 0;
    font-size: var(--size-xs);
    color: var(--color-black);
  }

  .form-field input:not(:placeholder-shown) + label,
  .form-field textarea:not(:placeholder-shown) + label {
    top: -1rem;
    left: 0;
    font-size: var(--size-xs);
  }

  .form-field input:not(:placeholder-shown):not(:valid) + label,
  .form-field textarea:not(:placeholder-shown):not(:valid) + label {
    color: var(--color-primary);
  }

  .form-field label span {
    color: var(--color-primary);
  }

  .form button {
    margin: 0 auto;
    font-size: var(--size-sm);
  }

  @media (min-width: 768px) {
    .form button {
      font-size: var(--size-base);
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    height: fit-content;
    max-width: 350px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--color-secondary);
    box-shadow: 1rem 1rem 4rem var(--color-grey-shadow);
  }

  @media (min-width: 768px) {
    .contact-info {
      padding: 3rem;
    }
  }

  .contact-info h3,
  .contact-info p {
    margin-bottom: 0.75rem;
    text-align: left;
  }

  .contact-info h3 {
    font-size: var(--size-base);
    font-family: var(--font-bobby-soft);
  }

  .contact-info p {
    font-size: var(--size-xs);
    color: var(--color-grey);
  }

  .contact-info a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color var(--transition-normal);
  }

  .contact-info a:hover,
  .contact-info a:hover svg {
    color: var(--color-black);
    fill: var(--color-black);
  }

  .contact-info svg {
    width: 1rem;
    height: 1rem;
    fill: var(--color-grey);
    transition: fill var(--transition-normal);
  }
</style>
