---
import Layout from '../layouts/Layout.astro'
import { getImage } from 'astro:assets'
import HeroBanner from '../components/layout/HeroBanner.astro'
import About from '../components/pages/home/About.astro'
import WhereYouCanFindUs from '../components/pages/home/WhereYouCanFindUs.astro'
import heroHome from '../assets/hero-home-copy.jpg'

const heroImage = await getImage({ src: heroHome })
---

<Layout
  title="Born Yesterday Bakery"
  description="Born Yesterday Bakery is a bakery located in Maine, specializing in sourdough bread"
>
  <HeroBanner
    title="Born Yesterday Bakery"
    url={heroImage.src}
    description="Sourdough baked goods made with local, organic & ancient grains in Western Maine"
  />
  <main>
    <About />
    <WhereYouCanFindUs />
  </main>
</Layout>
