---
import Layout from '../layouts/Layout.astro'
import { getImage } from 'astro:assets'
import HeroBanner from '../components/layout/HeroBanner.astro'
import About from '../components/pages/home/About.astro'
import Info from '../components/pages/home/Info.astro'
import anadama from '../assets/anadama.jpg'

const anadamaImage = await getImage({ src: anadama })
---

<Layout
  title="Born Yesterday Bakery"
  description="Born Yesterday Bakery is a bakery located in Maine, specializing in sourdough bread"
>
  <HeroBanner
    title="Born Yesterday Bakery"
    url={anadamaImage.src}
    description="Sourdough baked goods made with local, organic & ancient grains in Western Maine"
  />
  <main>
    <About />
    <Info />
  </main>
</Layout>
