---
import Layout from '../layouts/Layout.astro'
import PageHeader from '../components/text/PageHeader.astro'
---

<Layout
  title="Born Yesterday Bakery | Order"
  description="Born Yesterday Bakery is a bakery located in Maine, specializing in sourdough bread"
>
  <main>
    <PageHeader title="Order" />
  </main>
</Layout>
