---
import Layout from '../layouts/Layout.astro'
import { getImage } from 'astro:assets'
import HeroBanner from '../components/layout/HeroBanner.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import sproutedRye from '../assets/sprouted-rye.jpg'

const sproutedRyeImage = await getImage({ src: sproutedRye })
---

<Layout
  title="Born Yesterday Bakery | Order"
  description="Born Yesterday Bakery is a bakery located in Maine, specializing in sourdough bread"
>
  <HeroBanner title="Order" url={sproutedRyeImage.src} description="Order some bread!" />
  <main>
    <SectionHeader title="Page Content Goes Here" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatibus, quibusdam,
      quia, voluptatem voluptatum quod quos reprehenderit voluptate quas quidem dolorum. Quisquam
      voluptatibus, quibusdam, quia, voluptatem voluptatum quod quos reprehenderit voluptate quas
      quidem dolorum.
    </p>
  </main>
</Layout>
