---
import SectionHeader from '../../text/SectionHeader.astro'
---

<section id="where-you-can-find-us">
  <SectionHeader title="Where you can find us" />
  <div class="map-wrapper">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884751.355972174!2d-73.98923219419679!3d45.082954152823156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb01dde1d538ad5%3A0xd679cc6f6720a8d0!2sMaine!5e0!3m2!1sen!2sus!4v1695405468663!5m2!1sen!2sus"
      width="800"
      height="600"
      style="border: 0;"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<style>
  .map-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
  }

  .map-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0.25rem;
  }
</style>
